/FrontChallenge/Front-Angular-Challenge/node_modules
/FrontChallenge/Front-Angular-Challenge/dist/
/FrontChallenge/Front-Angular-Challenge/out-tsc/
/FrontChallenge/Front-Angular-Challenge/.angular/
/FrontChallenge/Front-Angular-Challenge/.cache/
/FrontChallenge/Front-Angular-Challenge/coverage
/FrontChallenge/Front-Angular-Challenge/*.log
/FrontChallenge/Front-Angular-Challenge/.vscode/

/BackChallenge/node_modules
/BackChallenge/logs/
/BackChallenge/*.log
/BackChallenge/dist/
/BackChallenge/build/
/BackChallenge/.env

node_modules