/frontend/node_modules
/frontend/dist/
/frontend/out-tsc/
/frontend/.angular/
/frontend/.cache/
/frontend/coverage
/frontend/*.log
/frontend/.vscode/

/backend/node_modules
/backend/logs/
/backend/*.log
/backend/dist/
/backend/build/
/backend/.env

node_modules